@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: 'NotoSansArabic-Regular';
}

@font-face { 
    font-family: "NotoSansArabic-Bold"; 
    src: url(../public/fonts/NotoSansArabicBold.ttf); 
}
  
@font-face { 
    font-family: "NotoSansArabic-Medium"; 
    src: url(../public/fonts/VariableFonwdthwght.ttf); 
}

@font-face { 
    font-family: "NotoSansArabic-Regular"; 
    src: url(../public/fonts/NotoSansArabicregular.ttf); 
}

@layer utilities {
    .bg-app {
      background-color: #148373;
    }
    .bg-app-light {
      background-color: #278d7f;
    }
    .text-app {
        color: #dfb521
    }
    .border-app {
        border-color: #148373
    }
    .font-b {
        font-family: 'NotoSansArabic-Bold';
    }
    .font-m {
        font-family: 'NotoSansArabic-Medium';
    }
    .font-r {
        font-family: 'NotoSansArabic-Regular';
    }
  }


